/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import 'normalize';

 /* Standard boilerplate to use border-box */
html {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background-color: #f0f0f0;
}

/*________________________________
mixins
_________________________________*/


@mixin box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

@mixin transition {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}


/*________________________________
fonts
_________________________________*/

p.most_viewed {
  color: grey;
  font-size: 14px;
}

h4 {
  color: grey;
}


/*________________________________
Colors
_________________________________*/

$red: #DB6161;




/*________________________________
images
_________________________________*/

.fa-tag {
  margin: 5px;
}






/*________________________________
navigation bar
_________________________________*/

.navbar {
  background-color: #000;
}


/*________________________________
jumbotron
_________________________________*/

.jumbotron {
  background-color: #000;
  /* background-image: url("coffee.jpg"); */
  background-size: cover;
  font-family: "Menlo";
  color: #fff;
  .search-bar {
    p, i, h2 {
      display: inline-block;
    }
  }
}

.jumbo-title {
  border: #fff solid 1px;
  display: inline-block;
  padding: 1px 100px;
}



/*________________________________
most viewed / recent posts and tags
_________________________________*/

.viewed-recent {
  border-bottom: #000 1px solid;
}

.most_viewed {
  padding: 15px;
  background-color: white;
}

.most_viewed {
  background-color: #fff;
  height: 650px;
  word-wrap: break-word;
  .image-wrapper {
    max-width: 100%;
    overflow: hidden;
  }
  .image {
    width: 100%;
    @include transition;
    &:hover {
    	transform: scale(1.075);
    }
  }
}



/*________________________________
index posts content
_________________________________*/

.post-content {
  padding: 20px;
  max-width: 100%;
}

.outer-container {
  padding: 15px;
}

.show_posts {
  background-color: #fff;
  height: 650px;
  word-wrap: break-word;
  .image-wrapper {
    max-width: 100%;
    overflow: hidden;
  }
  .medium-image {
    width: 100%;
    @include transition;
    &:hover {
    	transform: scale(1.075);
    }
  }
}

.each_post {
  padding: 30px;
}




/*________________________________
show post page
_________________________________*/


.show-post {
  width: 100vw;
  margin: 0 auto;
}

#tag_cloud {
  line-height: 1em;
  .s { font-size: 0.6em; }
  .m { font-size: 1.0em; }
  .l { font-size: 1.4em; }
  a {
    color: #fff;
  }
}

 /*________________________________
 fonts
 _________________________________*/

/*
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

p, a, li {
  font-family: 'Cabin', serif;
  text-decoration: none;
  font-size: 20px;
}

.sidebar_title li {
  color: black;
}

.sidebar li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: black;
}

.sidebar a {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 22px;
  color: #f9f9c7;
  text-shadow: 1px 1px white, -1px -1px #444;
}

.sidebar .sidebar_blog a {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 36px;
  color: #f9f9c7;
  text-shadow: 1px 1px white, -1px -1px #444;
}

h1.blog_header {
  font-family: 'Lobster', sans-serif;
  font-size: 65px;
  text-align: center;
  display: inline;
} */

/*________________________________
containers
_________________________________*/

/*
.sidebar {
  background-color: #fe523e; original color
  background-color: #db705d;
  height: 100vh;
} */

/* .maincontent {
  background-color: #222;
  background-color: #f9f9c7;
  height: 100vh;
  color: #f9f9c7;
  color: white;
  font-size: 20px;
} */
/*
.navbar {
  background-color: #1cbcb4;
  background-color: #4a5f8c;
}

.blog_header {
  width: 50%;
  display: inline-block;
}

.show_posts {
  margin: 20px;
  padding: 5px 15px 5px 15px;
  background-color: rgba(158, 158, 158, .6);
  border-radius: 5px;
  float: left;
  width: 400px;
  height: 400px;
}

.col-sm-2.sidebar {
  padding: 10px;
  text-align: right;
  height: 1400px;
}

.col-sm-10.maincontent {
  height: 1400px;

}

.navbar.navbar-default {
  margin: 0;
}

.navbar.navbar-default {
  postition: absolute;
  margin: -5px -5px 0 -5px;
  padding: 20px;
  border-bottom: black 1px solid;
}

.alert {
  opacity: .75;
}

.tags {
  border: 1px black solid;
  background-color: #dc9119;
  height: 25px;
  width: 80px;
  border-radius: 5px;
  float: right;
  margin: 5px;
  text-align: center;
}

.nav-buttons p.tags {
  font-size: 16px;
  font-family: 'Lobster', sans-serif;
}

.pagination {
  display: block;
}


________________________________
images
_________________________________

img {
  display: inline-block;
  height: 1000px;
  width: 1000px;
}

.maincontent {
  background-image: url("blog4.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.buttons {
  display: inline-block;
}

.show_posts p {
  font-size: 16px;
}

.show_posts h1 {
  font-size: 24px;
}

.post-image {
  height: 33%;
  width: 33%;
  opacity: .9;
  border-radius: 10%;
  margin: 20px;
  border: 1px solid black;
  float: left;
}

p.post-body {

}

.nav-buttons {
  display: block;
  margin-top: 40px;
}

.thumb-image {
  width: 200px;
  height: 200px;
  border: 1px black solid;
  border-radius: 15px;
  margin: 0 auto;
}
 */
