/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'normalize';

 /* Standard boilerplate to use border-box */
html {
  box-sizing: border-box;
}


 /*________________________________
 fonts
 _________________________________*/


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

p, a, li {
  font-family: 'Cabin', serif;
  text-decoration: none;
}

.sidebar_title li {
  color: #f9f9c7;
}

.sidebar li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  color: #f9f9c7;
}

.header h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 50px;
}

/*________________________________
containers
_________________________________*/


.sidebar {
  background-color: #fe523e;
  height: 100vh;
}

.maincontent {
  background-color: #222;
  /* background-color: #f9f9c7; */
  height: 100vh;
  color: #f9f9c7;
  /* color: white; */
  font-size: 20px;
}

.navbar {
  background-color: #1cbcb4;
}

/*________________________________
images
_________________________________*/

#azimg {
  display: inline-block;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

img {
  display: inline-block;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.buttons {
  display: inline-block;
}

.show_posts p {
  font-size: 16px;
}

.show_posts h1 {
  font-size: 24px;
}
