/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'normalize';

 /* Standard boilerplate to use border-box */
html {
  box-sizing: border-box;
}

body {
  padding-top: 137px;
}


 /*________________________________
 fonts
 _________________________________*/


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

p, a, li {
  font-family: 'Cabin', serif;
  text-decoration: none;
}

.sidebar_title li {
  color: black;
}

.sidebar li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: black;
}

.sidebar a {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 22px;
  color: #f9f9c7;
  text-shadow: 1px 1px white, -1px -1px #444;
}

.sidebar .sidebar_blog a {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 36px;
  color: #f9f9c7;
  text-shadow: 1px 1px white, -1px -1px #444;
}

h1.blog_header {
  font-family: 'Lobster', sans-serif;
  font-size: 65px;
  text-align: center;
  display: inline;
}

/*________________________________
containers
_________________________________*/


.sidebar {
  /* background-color: #fe523e; original color*/
  background-color: #db705d;
  height: 100vh;
}

/* .maincontent {
  background-color: #222;
  background-color: #f9f9c7;
  height: 100vh;
  color: #f9f9c7;
  color: white;
  font-size: 20px;
} */

.navbar {
  /* background-color: #1cbcb4; */
  background-color: #4a5f8c;
}

.blog_header {
  width: 50%;
  display: inline-block;
}

.show_posts {
  margin: 20px;
  padding: 5px 15px 5px 15px;
  background-color: rgba(158, 158, 158, .6);
  border-radius: 5px;
}

.col-sm-2.sidebar {
  padding: 10px;
  text-align: right;
  height: 1400px;
}

.col-sm-10.maincontent {
  height: 1400px;

}

.navbar.navbar-default {
  margin: 0;
}

.navbar.navbar-default {
  postition: absolute;
  margin: -5px -5px 0 -5px;
  padding: 20px;
  border-bottom: black 1px solid;
}

/*________________________________
images
_________________________________*/

img {
  display: inline-block;
  height: 1000px;
  width: 1000px;
}

.maincontent {
  background-image: url("man_stick2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.buttons {
  display: inline-block;
}

.show_posts p {
  font-size: 16px;
}

.show_posts h1 {
  font-size: 24px;
}
